body{
    margin: 0;
    padding: 0 0 1000px 0;
    font-family: Helvetica;
}

header{
    background-color: white;
    box-shadow: 0 3px 5px rgb(19,19,19,0.45);
    padding: 2px;
    display: flex;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index:100;
}

.menubar-style > .a-style > li{
    display: inline;
    
}

.a-style{
    display:flex;
    /* margin-left: 2rem;
    margin-top: 6px; */
}

.a-style>li>a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 33px 32px 38px 32px;
}

.a-style>li>a:hover{
    background-color: #c8e6c9;
padding: 28px;
}

.sublist-style{
    list-style: none;
    padding: 0 20px;
}

.i-style{
    color: #259cd8;
    font-size: 2rem;
    margin-top: -0.3rem;
}

marquee{
    position: relative;
    top: 3.9rem;
    background-color: #46BC5B;
    line-height:2.7;
    color: #fff;
    font-size: 1rem;
}

.img1-style{
    position: relative;
    top:3.3rem;
    width: 100%;
    
}

.title-style{
    text-align: center;
    margin-top: 6rem;
    text-transform: uppercase;
}

.span-style{
    border-bottom: 2px solid #046d38;
    padding: 0.5rem;
}

.sec1-style{
    margin: 2rem 3rem -0.3rem 3rem;
    background: white;
    box-shadow: 0 3px 5px rgb(19,19,19,0.45);
    position: relative;
    border-radius: 8px;
}

.img2-style{
    width: 30%;
    height: 150px;
    margin: 0 10rem -0.25rem 0;
}

.div1-style{
    position: absolute;
    top: 0;
    left: 27rem;
}

.btn-style{
    background-color: #046d38;
    border: 2px solid #046d38;
    color: #fff;
    padding: 7px;
    text-transform: uppercase;
    border-radius: 15px;
}

.sec2-style{
    margin: 2rem 3rem -0.3rem 3rem;
    background: white;
    box-shadow: 0 3px 5px rgb(19,19,19,0.45);
    position: relative;
    border-radius: 8px;
    padding: 15px;
}

.p-style{
     font-weight: 600;
}

.img3-style{
    width: 30%;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0rem;
}

.sec3-style{
    margin: 2rem 3rem -0.3rem 3rem;
    background: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0 3px 5px rgb(19,19,19,0.45);
    /* position: relative; */
    border-radius: 5px;
    padding: 15px;
    /* padding-left: 9px;
    padding-right:; */
}

.sec3-img-style{
    width: 110%;
    height: 270px;
    margin: 0px 0px -19px -15px;
}

.sec4-style{
    margin: 0 9.3rem -0.6rem 3rem;
    margin-top: 15px;
    margin-right: 0;
}

.sec5-style{
    margin: 0 9.3rem -0.6rem 3rem;
    margin-top: 15px;
    margin-right: 0;
}

.sec6-style{
    margin: 0 9.3rem -0.6rem 3rem;
    margin-top: 15px;
    margin-right: 0;
}
.sec7-style{
    margin: 0 9.3rem -0.6rem 3rem;
    margin-top: 19px;
    margin-right: 0;
}

.categories-img-style{
    margin-right: 1.5rem;
    border-radius: 8px;
}

.categories-item1-style{
    background-color: #374553;
    width: 21.1%;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
    margin-top: -3.6rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.categories-item2-style{
    background-color: #374553;
    width: 21.1%;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
    margin-left: 21.8em;
    margin-top: -3.5rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.categories-item3-style{
    background-color: #374553;
    width: 21%;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
    margin-left: 43.7rem;
    margin-top: -3.4rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.categories-item4-style{
    background-color: #374553;
    width: 21%;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
    margin-left: 65.5rem;
    margin-top: -3.3rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.iframe-style{
    background-color: #374553;
    color: white;
    margin-top: -3rem;
    opacity: 0.9;
}

.img{
    /* margin-top: 30px; */
    margin-left: 50px;
}


